Package: com.squ1dd13.sizefinder
Name: SizeFinder
Depends: mobilesubstrate
Version: 2.0
Architecture: iphoneos-arm
Description: Add app size to delete button
Maintainer: level3tjg
Author: Squ1dd13
Section: Tweaks
